<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.nsdev.saytimeapp"
      android:versionCode="9"
      android:versionName="1.5.0">
    <application android:icon="@drawable/icon"
    	android:label="@string/app_name" android:debuggable="false">
        <activity android:name=".SayTimeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/set_preferences">
        </activity>

        
        <service android:name="SayTimeService" android:exported="true" android:enabled="true"></service>
        

		<!-- Adding a receiver that will intercept the media button and perform actions. -->
		<receiver android:name="MediaButtonIntentReceiver">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.intent.action.CAMERA_BUTTON"/>
			</intent-filter>
		</receiver>
        
        <receiver android:process=":remote" android:name="AlarmIntentReceiver"/>

    </application>

    <uses-sdk android:minSdkVersion="8" />
    
   	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
   	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

</manifest> 